:root {
    --primary-color: #0d1117;
    --secondary-color: rgb(196, 196, 196);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 800px;
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}

#display {
    background-color: rgb(221, 221, 221);
    height: 100px;
    width: 360px;
    margin-bottom: 4px;
    border-radius: 5px;
}

#buttons-commands {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: auto;
    gap: 1px;
}

#buttons-commands > button {
    height: 120px;
    width: 90px;
    font-size: 2.5rem;
    border-radius: 5px;
}


